@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700;800&family=Mukta:wght@200;300;400;600;700;800&display=swap");

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}
img {
    max-width: 100%;
    display: block;
}

body {
    top: 0 !important;
    box-sizing: border-box;
    background-image: url("./image/bg/4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Karla", "Mukta", sans-serif;
    color: snow;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.skiptranslate {
    display: none;
    height: 0;
}


.header {
    height: 40px;
    display: grid;
    grid-template: 1fr / 5fr 4fr;
    align-items: center;

    & .setting {
        height: 100%;
        width: 200px;
        display: grid;
        grid-template: 1fr / 1fr 2fr 2fr;
        gap: 8px;

        & .bg-button,
        & .temp-units__radio,
        & .lng-selector {
            margin: 0;
            appearance: none;
            border: none;
            border-radius: 5px;
            color: snow;
            background: rgba(#fff, 0.5);
            text-align: center;
            outline: none;
        }

        & .bg-button {
            height: 100%;
            width: 100%;
            background: url("./image/icons/pic.svg") no-repeat center;
            background-size: 175%;
            opacity: 0.5;
        }

        & .temp-units {
            display: grid;
            grid-template: 1fr / 1fr 1fr;

            :first-child {
                border-radius: 5px 0 0 5px;
            }

            :last-child {
                border-radius: 0 5px 5px 0;
            }

            :nth-child(n) {
                &:not(:checked) {
                    background: rgba(#fff, 0.25);
                    color: rgba(snow, 0.5);
                }

                &:before {
                    content: attr(label);
                    display: grid;
                    align-items: center;
                    height: 100%;
                }
            }
        }
    }

    & .search {
        height: 100%;
        width: 330px;
        display: grid;
        grid-template: 1fr / 3fr 1fr;
        justify-self: right;

        &__input {
            border: none;
            outline: none;
            color: snow;
            background: url(./image/icons/microphone.svg) no-repeat center right 10px, rgba(#fff, 0.25);
            background-size: 7%;
            border-radius: 5px 0 0 5px;
            padding: 0 30px 0 10px;

            &::placeholder {
                color: rgba(snow, 0.5);
            }
        }

        &__button {
            color: snow;
            border: none;
            outline: none;
            background: rgba(#fff, 0.5);
            text-align: center;
            font: inherit;
            border-radius: 0 5px 5px 0;
        }
    }
}

.main {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    padding: 20px 0;

    & .content {
        & .current {
            display: grid;
            grid-template: 0fr 0fr 1fr / 2fr 1fr;

            &__place {
                margin: 0;
                grid-area: 1 / 1 / span 1 / span 2;

                font-weight: 800;
                font-size: 50px;
            }

            &__date {
                margin: 0;
                grid-area: 2 / 1 / span 1 / span 2;

                font-size: 25px;
            }

            &__temp {
                grid-area: 3 / 1 / span 1 / span 1;
                position: relative;
                font-size: 300px;
                font-weight: 800;

                & .degree-char {
                    position: absolute;
                    top: 0.4em;
                    font-size: 0.5em;
                }
            }

            &__weather-icon {
                padding-left: 300px;
                grid-area: 3 / 1 / span 1 / span 2;
                min-width: 240px;
            }

            &__weather-desc {
                grid-area: 3 / 2 / span 1 / span 2;
                align-self: end;
                font-weight: 700;
                margin-bottom: 70px;
            }
        }

        & .forecast {
            display: grid;
            grid-template: 1fr / repeat(3, 1fr);
            gap: 10px;

            & .card {
                display: grid;
                grid-template: 1fr 3fr / 1fr 1fr;

                &__week-day {
                    margin: 0;
                    font-size: 24px;
                    grid-area: 1 / 1 / span 1 / span 2;
                }

                &__temp {
                    font-size: 50px;
                    font-weight: 600;
                }
            }
        }
    }

    & .location {
        display: grid;
        grid-template: 4fr 1fr / 1fr;

        & .map {
            position: relative;
            align-self: flex-end;
            justify-self: end;
            width: 330px;
            height: 330px;
            margin-bottom: 30px;
            border-radius: 10px 10px 0 10px;
        }

        & .coordinate {
            text-align: end;
        }
    }
}

@media (max-width: 770px) {
    .main {
        display: grid;
        grid-template: 1fr / 1fr;
    }
}
