html, body {
    box-sizing: border-box;
    font-size: 10px;
    height: 100%;
    margin: 0 auto;
    font-family: Helvetica, Arial, sans-serif;
}

.wrapper {
    box-sizing: border-box;
    max-width: 70%;
    height: 100%;
    margin: 0 auto;
}

.header {
    height: 10%;
    display: grid;
    grid-template: 1fr / 2fr 1fr;
}

@media (max-width:900px) {
    .header{
        height: 15%;
        grid-template: repeat(2, 1fr) / 1fr;
        justify-items: center;
    }
}

h1 {
    font-weight: 400;
    margin: 0;
    padding-top: 1.1rem;
}

.header__menu {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    text-align: center;
}

.header__link {
    padding: 0.6rem;
}

a, a:visited {
    color: initial;
    text-decoration: none;
}

a:hover, a:active {
    background-image: linear-gradient(rgb(92, 160, 238) 100%, rgb(92, 160, 238));
    color: rgb(92, 160, 238);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 60% 4%;
}

.content {
    display: grid;  
    grid-template: 1fr / 2fr 1fr;
}

.portfolio {
    display: grid;
    grid-template: repeat(4, 1fr)/ repeat(3, 1fr);
    gap: 8px;
}

@media (max-width:900px) {
    .portfolio {
        grid-template: 1fr 1fr / 1fr 1fr;
    }
}

@media (max-width:850px) {
    .content{
        grid-template: initial;
    }
}

@media (max-width:770px) {
    .portfolio{
        grid-template: initial;
    }
}

img {
    width: 100%;
    height: 100%;
}

.portfolio img:first-child {
    grid-area: 1 / 1 / span 2 / span 2;
}

.portfolio img:last-child {
    grid-area: 3 / 2 / span 2 / span 2;
}

@media (max-width:900px) {
    .portfolio img:first-child {
        grid-area:initial;
    }

    .portfolio img:last-child {
        grid-area:initial;
    } 
}

.description {
    padding-left: 1rem;
}

.description__title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 0;
}

.description__content {
    padding-right: 1rem;
}

@media (max-width:850px) {
    .description {
        padding-top: 1.2rem;
        text-align: center;
    }
}

footer {
    position: relative;
    height: 5%;
    text-align: center;
}

footer span {
    position: absolute;
    bottom: 0;
}
