html,
body {
    box-sizing: border-box;
    font-size: 10px;
    height: 100%;
    margin: 0 auto;
    font-family: Helvetica, Arial, sans-serif;
}

a,
a:visited {
    color: initial;
    text-decoration: none;
}

.wrapper {
    max-width: 70%;
    height: 100%;
    margin: 0 auto;
}

.header {
    height: 8%;
    display: grid;
    grid-template: 1fr / 2fr 1fr;

    & .logo__text {
        font-weight: 400;
    }

    & .nav {
        display: grid;
        grid-template: 1fr / repeat(4, 1fr);
        align-items: center;
        justify-items: center;
        text-align: center;

        & .nav__link {
            padding: 0.6em;
        }

        & .nav__link:hover,
        & .nav__link:active {
            background-image: linear-gradient(rgb(92, 160, 238) 100%, rgb(92, 160, 238));
            color: rgb(92, 160, 238);
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: 60% 4%;
        }
    }
}

.content {
    display: grid;
    grid-template: 1fr / 2fr 1fr;

    & .portfolio {
        display: grid;
        grid-template: repeat(4, 1fr) / repeat(3, 1fr);
        gap: 8px;

        & .portfolio__img {
            width: 100%;
            height: 100%;

            &:first-child {
                grid-area: 1 / 1 / span 2 / span 2;
            }

            &:last-child {
                grid-area: 3 / 2 / span 2 / span 2;
            }
        }
    }

    & .content__wrapper {
        margin-left: 0.8em;

        & .desc {
            .desc__title {
                margin-top: 0;
                font-weight: bold;
                font-size: 1.2em;
            }

            .desc__text {
                padding-right: 1rem;
            }
        }
    }
}

.footer {
    height: 5%;
    display: grid;

    & .footer__text {
        text-align: center;
        align-self: flex-end;
    }
}


@media (max-width: 900px) {
    .content .portfolio {
        grid-template: 1fr 1fr / 1fr 1fr;

        & .portfolio__img {
            &:first-child,
            &:last-child {
                grid-area: initial;
            }
        }
    }
}

@media (max-width: 900px) {
    .header {
        height: 15%;
        grid-template: 1fr / 1fr;
        justify-items: center;
    }
}

@media (max-width: 850px) {
    .content {
        grid-template: 1fr/ 1fr;
    }
}

@media (max-width: 850px) {
    .desc {
        padding-top: 1.2rem;
        text-align: center;
    }
}

@media (max-width: 770px) {
    .content .portfolio {
        grid-template: 1fr / 1fr;
    }
}
