html,
body {
    box-sizing: border-box;
    font-size: 10px;
    height: 100%;
    margin: 0 auto;
    font-family: Helvetica, Arial, sans-serif;
}

a,
a:visited {
    color: initial;
    text-decoration: none;
}

.wrapper {
    max-width: 70%;
    height: 100%;
    margin: 0 auto;
}

.header {
    padding: 4px 0;
    display: grid;
    grid-template: 1fr / 2fr 1fr;

    & .logo__text {
        font-weight: 400;
    }

    & .nav {
        display: grid;
        grid-template: 1fr / repeat(4, 1fr);
        align-items: center;
        justify-items: center;
        text-align: center;

        &__link {
            padding: 8%;

            &:hover,
            &:active {
                background-image: linear-gradient(rgb(92, 160, 238) 100%, rgb(92, 160, 238));
                color: rgb(92, 160, 238);
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: 60% 4%;
            }
        }
    }
}

.content {
    display: grid;
    grid-template: 1fr / 2fr 1fr;

    & .portfolio {
        display: grid;
        grid-template: repeat(4, 1fr) / repeat(3, 1fr);
        gap: 8px;

        &__img {
            width: 100%;
            height: 100%;

            &:first-child {
                grid-area: 1 / 1 / span 2 / span 2;
            }

            &:last-child {
                grid-area: 3 / 2 / span 2 / span 2;
            }
        }
    }

    &__wrapper {
        margin-left: 4%;

        & .desc {
            &__title {
                margin-top: 0;
                font-weight: bold;
                font-size: 1.2rem;
            }

            &__text {
                padding-right: 1rem;
            }
        }
    }
}

.footer {
    display: grid;

    &__text {
        text-align: center;
        align-self: flex-end;
    }
}

@media (max-width: 900px) {
    .header {
        grid-template: 1fr / 2fr;
        justify-items: center;

        & .nav {
            width: 80%
        }
    }

    .content {
        & .portfolio {
            grid-template: 1fr 1fr / 1fr 1fr;

            &__img {
                &:first-child,
                &:last-child {
                    grid-area: initial;
                }
            }
        }
    }
}

@media (max-width: 850px) {
    .content {
        grid-template: 1fr/ 1fr;

        &__wrapper {
            & .desc {
                padding-top: 4%;
                text-align: center;
            }
        }
    }
}

@media (max-width: 770px) {
    .content {
        & .portfolio {
            grid-template: 1fr / 1fr;
        }
    }
}
